<div>
  <h2>Welcome to Cliffside Designs. This Website was made by Stefan Cliff 2019/230449.
  </h2>
  <p>
    <br>This site has two API's currently:
    <br>
    <br>  - One about user registration or deletion and updating the CliffsideDesignDB.users collection about said activity
    <br>
    <br>  - The other is about viewing the contents of a table from CliffsideDesignDB.furnitures as well as adding new things to the collection.

  </p>
  <p>
    <br><br><br>
    On the left side and along the top are a few different icons. The three stripes serve as a side navigator to the other components.
    <br>
    <br>The icons to the right of the Cliffside Designs text do have functionality, but aren't really all that important:
    <br>
    <br>- The share button leads you to the Singidunum twitter account.
    <br>- The email icon opens an email with the subject and address already filled in to my email stefan.cliff.19@singimail.rs
    <br>- The last icon is only a hoverable that tells you that this sites main functionalities are what I wrote above.
  </p>
</div>
